<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.css">

    {% load static %}
    
    <script src="{% static 'landing/script.js' %}"></script>
    
    <title>Hello Frankie!</title>

</head>
<body>
    <h2>Frankie! 2!</h2>
    <model-3d background-color="#000000" src="https://storage.cloud.google.com/kingston-klopp/pottery-flask/scene.gltf"></model-3d>
</body>
</html>
